

<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
       <%= image_tag @user.avatar.url(:thumb) %>
        <%= @user.name %>
      </h1>
      <%= @user.email %></br><%= @user.phone %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.loans.any? %>
      <h3>Loans (<%= @user.loans.count %>)</h3>
      <ol class="microposts">
        <%= render @user.loans %>
      </ol>
    <% end %>
  </div>
  
</div>
