
<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span3">
    <section>
      <h1>
       <%= image_tag @user.avatar.url(:medium) %>
      </h1>
      <h1>
         <%= @user.name %>
     </h1>
     <%= @user.email %></br><%= @user.phone %>

   </section>
 </aside>
 <h3>Loans (<%= @user.loans.count %>)</h3>
 <section>

   <h3>
      <%= render @user.loans %>
  </h3>
  </section>
</div>

